.copyright{
	font-size:1em;
	font-weight:400;
	color: #fff;
	text-align:center;
	line-height : 72px;
	vertical-align:middle;
}

#control_panel{
	height:80px;
	width : 50%;
	background-color:#2c3e50;
	border-radius: 3px;
	display:inline-block;
	vertical-align: top;
	padding:3px;
}


.tab {
	height:20px;
	background-color:#2c3e50;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-width:2px;
	border-bottom-width: 0px;
	border-color: #ffffff;
	border-style: solid;
	display:inline-block;
	width:150px;
	margin-right:5px;
	text-align: center;
}

.tab:hover {
	background-color:#000000;
	border-color: #b3b0b0;
	cursor: pointer;
}

.brick_control{
	height:30px;
	margin:0px;
	width:33%;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	display:inline-block;
	position: relative;
}
.brick_button {
    color: #444444;
		background: #20d0ad;
		width:74px;
		height:74px;
		border: 1px #095243 solid;
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 19px;
		padding-bottom: 19px;
    margin: 10px;
    border-radius: 1px;
    font-weight: bold;
    font-size: 9pt;
		outline: none;
		stroke:rgb(68, 68, 68);
		stroke-width:2;
		fill:none;
}

.brick_button:hover {
    border: 1px #073c31 solid;
    color: #333333;
	background: #1cb99b;
	box-shadow: inset 1px 1px 1px #3ce2c2;   
}

.brick_button:active {
	box-shadow: 1px 1px 1px #3ce2c2;
}

.hover_div {
	position: absolute;
}

.hover_div:hover {
	background-color:rgba(23, 175, 146,0.5);
}


.selected {
	background-color: #108971;
}

.label {
	height:50px;
	width:100px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

#canvas_holder{
	position: relative;
	top:0px;
	left:0px;
	height:200px;
}
#main_canvas{
	position: absolute;
	top:0px;
	left:100px;
	/*border-top: 2px;
	border-bottom: 2px;
	border-left:0px;
	border-right:0px;
	border-radius: 0px;
	border-style: solid;
	border-color: #2c3e50;*/
	background-color: white;
	width: 800px;
	height: 100px; 
}
#canvas_d_pos,#canvas_arrow{
	width: 50px;
	height: 50px;
}

.row_bar{
	position: absolute;
	left:100px;
	top:50px;
	height:0px;
	border-bottom: 0px;
	border-top: 1px;
	border-left:0px;
	border-right:0px;
	border-style: dashed;
	border-color: #243946;
	width:800px;
	cursor: ns-resize;;
}

#trash_can {
	width:50px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

#add_row {
	cursor: pointer;
	width:20px;
	margin-left: 12px;
	margin-bottom: 10px;
	display: block;
}

.svg_container {
	max-width:1200px;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	background-color: #fff;
	width:95%;
	margin:auto;
}

.svg_selectable:hover {
	stroke: #DA4567;
	cursor: move;
}

.svg_resize, .ann_resize {
	cursor: ns-resize;
}

.arrow_drag {
	cursor: move;
}

.arrow_drag:hover {
	stroke-opacity:1;
}

.ann_resize, .arrow_drag {
	stroke:rgb(68, 68, 68);
	stroke-width:7;
	stroke-opacity:0;
}

.brick_highlight:hover {
	fill : rgba(24, 188, 156, 0.39);
}

.brick_highlight {
	pointer-events:all;
}

.brick_selected {
	fill : rgba(44, 62, 80, 0.33);
}

#canvas_labels {
	position: absolute;
	top:0px;
	left:0px;
	height:200px;
	width:100px;
}

#control_panel label {
	display: inline-block;
	width:50%;
}



.brick_changer {
	width:75px;
	height:30px;
	display: block;
}

.brick_changer svg{
	height:24px;
	width:48px;
	display:inline-block;
	vertical-align: top;
	margin-top:4px;
	stroke:rgb(32, 245, 242);
	stroke-width:4; 
	fill:none;
}

.brick_changer input {
	display: table-cell;
	width:22px;
	vertical-align: top;
	margin-top:8px;
	margin-bottom:8px;
}

.arrow_changer {
	width:75px;
	height:15px;
	display: block;
}

.arrow_changer svg{
	height:12px;
	width:48px;
	display:inline-block;
	vertical-align: top;
	margin-top:4px;
	stroke:rgb(32, 245, 242);
	stroke-width:4; 
	fill:none;
}

.arrow_changer input {
	display: table-cell;
	width:22px;
	vertical-align: top;
	margin-top:4px;
	margin-bottom:0px;
}

.brick {
	stroke:rgb(68, 68, 68);
	stroke-width:2;
	fill:none;
}

.plus_minus_row_select {
	cursor: pointer;
	stroke-width:0;
	fill:none;
	pointer-events:all;
}

.grip {
	stroke:rgb(68, 68, 68);
	stroke-width:1;
	fill:none;
	display:none; 
}

.annotation_group_sel {
	fill:none;
	pointer-events:all;
}

#main_svg {
	height:200px;
	width: 800px; 
	display:block;
}

#dummy_element svg {
	height:0px;
}

.grip:hover {
	fill : rgba(24, 188, 156, 0.39);
}



